# Exercise 01 
## The following is a list of 10 students ages:
## ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

### 1.1 Sort the list and find the min and max age.

In [40]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages = sorted(ages) #reassign ages in sorted form
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

### 1.2 Add the min age and the max age again to the list.

In [41]:
ages.append(min(ages))
ages.append(max(ages))
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

### 1.3 Find the median age (one middle item or two middle items divided by two).

In [53]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] #I considered first form of list
ages = sorted(ages) #reassign ages in sorted form to find median
x = int(len(ages))
if x%2 == 0:
    print('Median of thes list is:{0}'.format((ages[x//2]+ages[x//2-1])/2))
else:
    print('Median of thes list is:{0}'.format(ages[x//2]))
#we could also use median method by importing statistics library:
#import statistics
#print(statistics.median(ages))

Median of thes list is:24.0

### 1.4 Find the average age (sum of all items divided by their number ).

In [56]:
#I considered first form of list
sum_age = int()
for i in ages:
    sum_age += i
print(sum_age/len(ages))
#Or we could use .mean method of statistics library

22.8

### 1.5 Find the range of the ages (max minus min).

In [57]:
#I considered first form of list
range_ages = max(ages) - min(ages)
print(range_ages)

7

### 1.6 Compare the value of (min - average) and (max - average), use abs() method.

In [59]:
#I considered first form of list
min_ages = min(ages)
max_ages = max(ages)
avr_ages = sum_age/len(ages)
if abs(min_ages - avr_ages) > (max_ages - avr_ages):
    print('abs(min - average) is grater than abs(max - average)')
elif abs(min_ages - avr_ages) > (max_ages - avr_ages):
    print('abs(min - average) is lesser than abs(max - average)')
else:
    print('abs(min - average) is equal to abs(max - average)')

abs(min - average) is grater than abs(max - average)

# Exercise 02

### 2.1 Create an empty tuple

In [3]:
empty_t = tuple()
# or empty_t = ()
print(type(empty_t))

<class 'tuple'>

### 2.2 Create a tuple containing names of your sisters and your brothers, separately (imaginary siblings are fine)

In [77]:
sisters = ('Melika', 'Narges')
brothers = ('AmirAli', 'Aria')

### 2.3 Join brothers and sisters tuples and assign it to siblings

In [78]:
siblings = brothers + sisters
print(siblings)

('AmirAli', 'Aria', 'Melika', 'Narges')

### 2.4 How many siblings do you have?

In [80]:
print('Number of siblings: {0}'.format(len(siblings)))

Number of siblings: 4

### 2.5 Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [83]:
#tuple is immutable so we must reassign to modify or convert it to list first
siblings = list(siblings)
siblings.append('Negar')
siblings = tuple(siblings)
print(siblings)
family_members = siblings + ('Forough', 'Parviz')
print(family_members)

('AmirAli', 'Aria', 'Melika', 'Narges', 'Negar', 'Negar')
('AmirAli', 'Aria', 'Melika', 'Narges', 'Negar', 'Negar', 'Forough', 'Parviz')

# Exercise 03

### 3.1 Create a student dictionary and add first_name, last_name, gender, age, skills, country, city and address as keys for the dictionary

In [19]:
student_info = {'first_name':'Pedram', 'last_name':'Arianmanesh', 'gender':'Male','age':'19',
                'skills':['python', 'C language', 'Linux'], 
                'country':'Iran', 'city':'Mashhad','address':'Iran, Mashhad, Hashemiye st'}

### 3.2 Get the length of the student dictionary

In [20]:
print(len(student_info))

8

### 3.3 Get the value of skills and check the data type, it should be a list

In [23]:
print(student_info['skills'])
print(type(student_info['skills']))

['python', 'C language', 'Linux']
<class 'list'>

### 3.4 Modify the skills values by adding one or two skills

In [24]:
student_info['skills'].extend(['Computer Vision','Image Processing'])
print(student_info['skills'])

['python', 'C language', 'Linux', 'Computer Vision', 'Image Processing']

### 3.5 Get the dictionary keys as a list

In [26]:
dict_keys = list()
for key in student_info:
    dict_keys.append(key)
print(dict_keys)

['first_name', 'last_name', 'gender', 'age', 'skills', 'country', 'city', 'address']

### 3.6 Get the dictionary values as a list

In [28]:
dict_values = list()
for key in student_info:
    dict_values.append(student_info[key])
print(dict_values)

['Pedram', 'Arianmanesh', 'Male', '19', ['python', 'C language', 'Linux', 'Computer Vision', 'Image Processing'], 'Iran', 'Mashhad', 'Iran, Mashhad, Hashemiye st']

### 3.7 Change the dictionary to a list of tuples using items() method

In [31]:
changed_dic = student_info.items()
print(changed_dic)

dict_items([('first_name', 'Pedram'), ('last_name', 'Arianmanesh'), ('gender', 'Male'), ('age', '19'), ('skills', ['python', 'C language', 'Linux', 'Computer Vision', 'Image Processing']), ('country', 'Iran'), ('city', 'Mashhad'), ('address', 'Iran, Mashhad, Hashemiye st')])

### 3.8 Delete one of the items in the dictionary

In [75]:
student_info.pop('address')
print(student_info)

{'first_name': 'Pedram', 'last_name': 'Arianmanesh', 'gender': 'Male', 'age': '19', 'skills': ['python', 'C language', 'Linux', 'Computer Vision', 'Image Processing'], 'country': 'Iran', 'city': 'Mashhad'}

### 3.9 Delete one of the dictionaries

In [76]:
student_info.clear()
print(student_info)

{}

# Exercise 04
## it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

### 4.1 Find the length of the set it_companies

In [13]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

### 4.2 Add 'Twitter' to it_companies

In [14]:
it_companies.add('Twitter')
print(it_companies)

{'Facebook', 'Twitter', 'IBM', 'Oracle', 'Google', 'Microsoft', 'Apple', 'Amazon'}

### 4.3 Insert multiple IT companies at once to the set it_companies

In [15]:
it_companies.update({'MCI', 'GreenWeb', 'Fanap'})
print(it_companies)

{'Facebook', 'GreenWeb', 'MCI', 'Google', 'Twitter', 'IBM', 'Oracle', 'Fanap', 'Microsoft', 'Apple', 'Amazon'}

### 4.4 Remove one of the companies from the set it_companies

In [ ]:
it_companies.remove('Apple')
#or it_companies.discard('Apple')
print(it_companies)

### 4.5 What is the difference between remove and discard

In [21]:
#the remove() method will raise an error if the specified item does not exist, and the discard() method won't
it_companies.discard('Asqar') #Won't show an error for this part
print('**********************************')
it_companies.remove('Asqar') #Will show an error

**********************************

KeyError: 'Asqar'

# Exercise 05
## (I am a teacher and I love to inspire and teach people.) How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [12]:
sentence = "I am a teacher and I love to inspire and teach people."
sep_sentence = set(sentence.split(' '))
print(len(sep_sentence))
#Set ignores repeated elements and consider them as one element

10

# Exercise 06 
## Write a function to Count the number of characters (characters frequency) in a string and print the result as a dictionary!

In [64]:
def char_counter(in_str):
    out_dict = {}
    for i in in_str:
        if i in out_dict:
            out_dict[i] += 1 #if key is already made, means repeat of character
        else:
            out_dict[i] = 1 #makes key and assign 1 as its value
    print(out_dict)
char_counter(input())

salam
{'s': 1, 'a': 2, 'l': 1, 'm': 1}

# Exercise 07
## Write a Python function to print the odd numbers from a given list.

In [74]:
def odd_out(in_list):
    out_list = list()
    for i in in_list:
        if i%2 != 0:
            out_list.append(i)
    print(out_list)
n = int(input("Enter number of elements : ")) #number of elements of input list

odd_out(list(map(int, input("\nEnter the numbers : ").strip().split()))[:n]) #getting list and put it into function

Enter number of elements : 9

Enter the numbers : 1 2 3 4 5 6 7 8 9
[1, 3, 5, 7, 9]

# Exercise 08
## Write a Python function to sort a given list of dictionaries (employees) using Lambda. (Sort by age, then for same ages, sort by name)
### employees = [{"name": "Sanaz", "age": 14}, {"name": "AmirHossein", "age": 18}, {"name": "Azam", "age":14}, {"name": "Zahra", "age": 16}, {"name": "Shayan", "age": 18}, {"name": "Zahra", "age": 17}]

In [22]:
employees = [{"name": "Sanaz", "age": 14}, {"name": "AmirHossein", "age": 18}, 
             {"name": "Azam", "age":14}, {"name": "Zahra", "age": 16}, {"name": "Shayan", "age": 18},
             {"name": "Zahra", "age": 17}]
sorted_form = sorted(employees, key=lambda x: x['age']) #sort based on age
sorted_form = sorted(sorted_form, key=lambda x: x['name']) #second layer of sorting based on name
print(sorted_form)

[{'name': 'AmirHossein', 'age': 18}, {'name': 'Azam', 'age': 14}, {'name': 'Sanaz', 'age': 14}, {'name': 'Shayan', 'age': 18}, {'name': 'Zahra', 'age': 16}, {'name': 'Zahra', 'age': 17}]

# Exercise 09
## Write a Python function to calculate first n numbers of Fibonacci sequence. (n is function input)
#### points: 
##### Use recursion to solve the question!

In [19]:
def fibon(n):
   if n <= 1:
       return n
   else:
       return(fibon(n-1) + fibon(n-2))
n = int(input())
for i in range(n):
    print(fibon(i),end=" ")

7
0 1 1 2 3 5 8

# Exercise 10
## print the type of error and handle that.(Use specific and General Exception)
#### dict = {'Python': 2, 'DIP': 7, 'DL': 8}
#### print (dict['CV'])

In [32]:
dict = {'Python': 2, 'DIP': 7, 'DL': 8}
try:
    print (dict['CV'])  
except KeyError as error:
    print('Type of error is: KeyError')

Type of error is: KeyError

# Exercise 11
## print the type of error and handle that.(Use specific and General Exception)
#### code = '45145GT'
#### int(code)

In [31]:
code = '45145GT'
try:
    int(code)
except ValueError as error:
    print('Type of error is: ValueError')

Type of error is: ValueError

# Exercise 12
## Create a txt file (name: Ex_01_Files.txt) and save the following list in the file! (save each element in the new line!)
### [1, 7, 'test', 'apple', 'banana', 'cherry', 785, 19, 'Python', 78.0, True, 7854.15]
#### points: 
##### Before reading file, check the file existence!
##### Close the file, finally!

In [12]:
import os
import os.path
check_file = os.path.isfile("Ex_01_Files.txt")
if check_file==False:
    f = open("Ex_01_Files.txt", "x")
else:
    f = open("Ex_01_Files.txt", "w")
list_in = [1, 7, 'test', 'apple', 'banana', 'cherry', 785, 19, 'Python', 78.0, True, 7854.15]
for i in list_in:
    f.write(str(i))
    f.write('\n')
f.close()

# Exercise 13
## Read the Ex_01_Files.txt and save and print the numbers and strings in to separated list!
#### points:
##### Before reading file, check the file existence!
##### Close the file, finally!
##### Handle FileNotFoundError error!

In [28]:
import os
#we can check existence with this code after importing os.path: check_file = os.path.isfile("Ex_01_Files.txt")
try:
    file1 = open("Ex_01_Files.txt")
 
except FileNotFoundError as error:
    print("file not found")
str_list = list()
num_list = list()
for line in file1:
    try:
        num_list.append(float(line))
    except:
        str_list.append(line)
f.close()
print(str_list)
print(num_list)

['test\n', 'apple\n', 'banana\n', 'cherry\n', 'Python\n', 'True\n']
[1.0, 7.0, 785.0, 19.0, 78.0, 7854.15]